## This is the notebook detailing the energy savings for the Industrial Energy Capstone Project

The boxplot will detail energy savings for a given set of inputs

In [6]:
# Import Packages
import pandas as pd
from pathlib import Path
import numpy as npq
import seaborn as sns
import matplotlib.pyplot as plt

import janitor
from janitor import clean_names

ModuleNotFoundError: No module named 'pyjanitor'

In [2]:
# Load Data
# ------- define paths -------
relative_path = Path('../data/intermediate_data/') # define relative path
absolute_path = relative_path.resolve() # get absolute path


# ------- import data -------
assess_df = pd.read_csv(absolute_path/'iac_assess_tidy.csv') # import IAC assess dataset
recc_df = pd.read_csv(absolute_path/'iac_recc_tidy.csv') # import IAC recc dataset
#ppi_df = pd.read_csv(absolute_path/'ppi_tidy.csv') # import ppi dataset

In [3]:
# Check first 5 rows
recc_df.head()

,superid,id,ar_number,appcode,arc2,impstatus,impcost,source_rank,sourccode,conserved,sourconsv,saved,rebate,incremntal,fy,ic_capital,ic_other,payback,bptool
0,AM000101,AM0001,1,NaN,2.8114,N,15000.0,PSOURCCODE,EC,NaN,NaN,1828.0,N,N,1987,NaN,NaN,8.205689,NaN
1,AM000101,AM0001,1,NaN,2.8114,N,15000.0,SSOURCCODE,NaN,NaN,NaN,NaN,N,N,1987,NaN,NaN,8.205689,NaN
2,AM000101,AM0001,1,NaN,2.8114,N,15000.0,TSOURCCODE,NaN,NaN,NaN,NaN,N,N,1987,NaN,NaN,8.205689,NaN
3,AM000101,AM0001,1,NaN,2.8114,N,15000.0,QSOURCCODE,NaN,NaN,NaN,NaN,N,N,1987,NaN,NaN,8.205689,NaN
4,AM000102,AM0001,2,NaN,2.7142,N,189.0,PSOURCCODE,EC,7034.0,72.0,663.0,N,N,1987,NaN,NaN,0.285068,NaN

In [4]:
assess_df.head()

,ID,center,fy,sic,naics,state,sales,employees,plant_area,products,produnits,prodlevel,prodhours,numars,source_code,plant_cost,plant_usage
0,AM0001,AM,1987,3671.0,NaN,TX,33900000.0,206.0,NaN,MICRO & MINI COMPUTERS,1.0,310.0,2250.0,7,EC,184985.0,2560082.0
1,AM0002,AM,1987,2761.0,NaN,TX,25000000.0,156.0,NaN,BUSINESS FORMS,NaN,NaN,2250.0,9,EC,267702.0,4867233.0
2,AM0002,AM,1987,2761.0,NaN,TX,25000000.0,156.0,NaN,BUSINESS FORMS,NaN,NaN,2250.0,9,E2,70657.0,19338.0
3,AM0003,AM,1987,3494.0,NaN,TX,15000000.0,200.0,NaN,SAFETY JOINTS & VALVES,NaN,NaN,2250.0,8,EC,129334.0,1723036.0
4,AM0003,AM,1987,3494.0,NaN,TX,15000000.0,200.0,NaN,SAFETY JOINTS & VALVES,NaN,NaN,2250.0,8,E2,10146.0,2074.0

In [7]:
# Tidy data by cleaning names
recc_df = recc_df.clean_names()

AttributeError: 'DataFrame' object has no attribute 'clean_names'

In [5]:
# Boxplot of conserved energy
# on the recc table - use 'conserved' - energy. saved - dollars.